
.box{
    text-align: center;
    
}

.resultList{
    display: flex;
    justify-content: center;

}

.carthead{
    margin: 0 auto;
    margin-top: 100px;
    background-color: #aebfbc;
    width: 700px;
    
}

.cartList{
    display: flex;
    justify-content: center;
}



.Formstocklist{
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    background-color: #f1f1f1;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 20px 0px;
    width:500px;
    height: 25px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5px;
    font-weight: bold;

    cursor: pointer;
}

.Formpricelist{
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    background-color: #f1f1f1;
    border: none;
    padding: 20px 0px;
    width:150px;
    height:25px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5px;
    font-weight: bold;
}

.Formbtnlist{
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    background-color: #f1f1f1;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 20px 0px;
    width:50px;
    height:25px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5px;
    font-weight: bold;
}

.CartStockList{
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    padding: 20px 0px;
    width:500px;
    height: 25px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5px;
    font-weight: bold;

    cursor: pointer;
}

.deletebtn{
    cursor:pointer;
}



.submitbtn{
    
    font: inherit;
    cursor: pointer;
    background-color: rgba(44, 42, 39, 0.983);
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgba(44, 42, 39, 0.983);
    border-radius: 4px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.submitbtn:hover{
    background-color: #a50e48;
    border-color: #a50e48;
}