
.box{
    text-align: center;
    
}

.resultList{
    margin: 0 auto;
}
.cartList{
    margin-top: 100px;
}

.resultList li{
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    background-color: #c5d6ca;
    border: 2px solid #c5d6ca;
    border-radius: 10px;
    padding: 20px 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5px;
    font-weight: bold;
    
}

.resultList button{
    border: none;
    background-color:#c5d6ca ;
    cursor: pointer;
    font-size: 20px;
}

.cartList li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #c5d6ca;
    border: 2px solid #c5d6ca;
    border-radius: 10px;
    padding: 20px 0px;
    margin: 0 auto;
    max-width: 700px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    font-weight: bold;
}




.resultList li:hover{
    border: 2px solid grey;
}

.cartList li:hover{
    border: 2px solid grey;
}

.box h2{
    background-color: #f5f0f0;
    width: 700px;
    margin: 0 auto;
}

.submitbtn{
    
    font: inherit;
    cursor: pointer;
    background-color: rgba(44, 42, 39, 0.983);
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgba(44, 42, 39, 0.983);
    border-radius: 4px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.submitbtn:hover{
    background-color: #a50e48;
    border-color: #a50e48;
}