.frame1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.none {
  display: none;
}

.firstblock {
  display: flex;
  flex-direction: row;
}

.itemDetail {
  display: flex;
  flex-direction: row;
}

.itemPrice {
  margin-left: 300px;
}
