
.NavBar{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(44, 42, 39, 0.983);

    margin: 0;
    padding: 0;
}

.Home{
    margin-left: 50px;
    list-style: none;
}

.Home a{
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
}

.Menu{
    display:flex;
    list-style: none;
    margin-right: 10%;
}

.Menu li{
    margin-left: 3rem;
}

.Menu a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}



.dropdown{
    display:none;
}



.NavBar a:hover,
.NavBar a:active,
.NavBar a.active{
    color: yellowgreen;
}

@media(max-width: 50rem){     /* 화면 줄였을때, 메뉴리스트 드롭다운 버튼으로 변경 */
    .Menu{
        display: none;
    }

    .dropdown{
        display: inline-block;
        width: 30%;
    }

    .dropdownList{
        display: none;
    }

    .dropbtn{
        padding: 10px;
        font-size: 1rem;
        color: white;
        background: rgba(44, 42, 39, 0.983);
        border: none;
        margin-left:50%;
        
        transition: color 0.25s;
    }

    .dropdownList a{
        text-decoration: none;
        border-bottom: 1px solid black;
        z-index: 0;         /* 곂치는 요소보다 우선순위 높게 가져감 */
        color: white;
        background: rgba(44, 42, 39, 0.983);
        box-shadow: 10px 10px 5px grey;
        font-size: 1.5rem;
        height: 4vh;

        transition: background 1s;
    }

    .dropdown:hover .dropbtn{
        margin-top:75%;
        color: grey;
    }

    .dropdown:hover .dropdownList{
        display: flex;
        flex-direction: column;
        padding:0;
    }

    .dropdownList a:hover{
        background: grey;
        color: black;
    }
}

