

.searchframe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.searchbox{
    z-index: 2;
}

.searchbar{
    width: 400px;
    height: 40px;
    max-width: 500px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 5px 0 0 5px;
    
}

.searchbtn{
    height: 43px;
    width: 32px;
    background: #f2f2f2;
    border: none;
    margin-top: 2px;
    border-radius: 0 5px 5px 0;
    
}

.searchbtn:hover{
    background: #dbcbca;
    cursor: pointer;
}

.autobox{
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius:5px;
    background-color: white;
    position: absolute;
    z-index: 1;
    margin-right: 30px;
    margin-top: 45px;
}

.autoSearchResultList{
    display:flex;
    align-items: center;
    text-align: start;
    border:none;
    height: 50px;
    width: 410px;
    font-size: 18px; 
}

.autoSearchResultList:hover{
    background-color: #f5f0f0;
    cursor: pointer;
}




