

.frame2{
    margin-top: 80px;
    margin-left: 7%;
}


.frame2 h2{
    display: inline-block;
}
.table {
    
    border-collapse: collapse;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    width: 400px;
    height: 200px;
    margin-top: 10px;
    font-size: 15px;
    font-family:sans-serif
    
}



.thead{
    height: 40px;
}


.thead tr{
    border-bottom: 1px solid #a19a89;
    background-color: #a19a89;
    
}

.tbody tr{
    border-bottom: 1px solid black;
    
    
}

.tbody tr:last-child{
    border-bottom: none;
}

.tobject{
    text-align: left;
}


@media(min-width: 1720px){
    .frame2{
        margin-left: 2%;
    }
    
}


@media (max-width: 1400px){
    .frame2{
        margin-left: 20%;
    }
    
}


