

.frame1{
    display: flex;
    justify-content: space-between;
    flex-wrap : wrap;
    margin-top: 50px;
    
}

.none{
    display: none;
}

.item{
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-left: 140px;
}

.firstblock{
    display:flex;
    flex-direction: row;
}

.firstblock .item{
    margin-left: 50px;
}

.itemDetail{
    display: flex;
    flex-direction: row;
}


.itemPrice{
    margin-left: 300px;
}


